@tailwind base;
@tailwind components;
@tailwind utilities;

.nostrEmbedCard {
  @apply ne-px-4 ne-py-5 ne-pb-3 ne-bg-[#fcfcfc] ne-rounded-lg md:ne-max-w-[600px] ne-flex ne-flex-col ne-gap-8;
  @apply ne-font-sans ne-text-left;
  border: 1px solid #ddd;
}

.cardContent {
  @apply ne-text-lg ne-break-words ne-whitespace-pre-line;
}

.cardContentMedia {
  text-align: center;
}

.cardContentMedia > video,
.cardContentMedia > img,
.cardContentMedia > iframe {
  border-radius: 15px;
  width: 50%;
}

.cardProfile {
  @apply ne-flex ne-flex-row ne-gap-4 ne-items-center;
}

.profileImg {
  @apply ne-w-12 ne-h-12 ne-rounded-full;
}

.followedProdileImg {
  @apply ne-w-[40px] ne-h-[40px] ne-rounded-full ne-ms-[-25px] ne-object-cover;
}

.profileDetails {
  @apply ne-flex ne-flex-col;
}

.profileName {
  @apply ne-text-lg ne-font-bold;
}

.profileName a {
  @apply ne-no-underline ne-text-gray-900;
}
.profileName a:hover {
  @apply ne-text-gray-600;
}

.profilePkey {
  @apply ne-flex ne-flex-row ne-gap-1 ne-items-center;
}

.cardMeta {
  @apply ne-flex ne-flex-col ne-gap-1 md:ne-gap-2;
}

hr {
  @apply ne-w-full ne-opacity-30 ne-m-1;
  border-color: #ddd;
}

.cardInteractions {
  @apply ne-flex ne-flex-row ne-justify-between md:ne-justify-start md:ne-gap-10;
}

.interactionContainer {
  @apply ne-flex ne-flex-row ne-items-center ne-gap-2;
}

.replyIcon,
.repostIcon,
.heartIcon,
.linkIcon,
.copyIcon {
  @apply ne-text-gray-900 ne-block ne-w-5 ne-h-5;
}

.linkCopyBtn,
.linkLink {
  @apply ne-text-gray-900 ne-no-underline ne-flex ne-flex-row ne-items-center ne-gap-2 ne-cursor-pointer ne-relative;
  border: 0;
  background-color: transparent;
}

.linkCopyBtn:hover,
.linkLink:hover,
.linkCopyBtn:hover .copyIcon {
  @apply ne-text-gray-600;
}

.linkCopyBtn.green,
.linkCopyBtn.green .copyIcon {
  @apply ne-text-green-600;
}

.displayText {
  @apply ne-hidden md:ne-flex md:ne-visible md:ne-text-sm;
}

.copyText {
  @apply ne-hidden;
}

.nostrichLink {
  @apply ne-flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.cardTitle {
  margin: 0;
}

.cardDescription {
  margin-top: 0;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.profileWithoutImg {
  width: 50px;
  height: 50px;
  background-color: #e9e9e9;
  border-radius: 50%;
}

.diffProfiles {
  font-weight: bold;
  font-size: 1.2rem;
}
